.content {
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    width: 250px;
    background: #1c1f32;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 100vh;
}

.left-sidebar .menu li{
    margin: 15px 0;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    background: #f5f7fa;
    display: flex;
}

.center-content {
    flex: 1;
    padding-right: 20px;
    display: inline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    margin-top: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

.profile-card {
    display: flex;
}

.bank-card-box {
    padding-bottom: 40px;
}

.show-card {
    background-color: yellow;
    height: 100px;
    width: 200px;
}

.recent-payments {
    padding-top: 40px;
}

.right-sidebar {
    width: 250px;
    background: #1c1f32;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
}